/bin/
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.sbtserver/master.log.01

.sbtserver/connections/play-fork-run-7b5d0d5b-ae06-4dac-a1e1-99a53e783ed6.log

.sbtserver/connections/play-fork-run-7b5d0d5b-ae06-4dac-a1e1-99a53e783ed6.log.01

.idea/modules/root.iml

.idea/modules/root.iml

.idea/play2_settings.xml

.sbtserver/connections/master.log

.sbtserver/connections/play-fork-run-5f759243-4482-4bbd-9f79-4b0b8a6088d0.log

.sbtserver/connections/play-fork-run-5f759243-4482-4bbd-9f79-4b0b8a6088d0.log.01

.sbtserver/connections/play-fork-run-5f759243-4482-4bbd-9f79-4b0b8a6088d0.log.02

.sbtserver/connections/play-fork-run-ab82b347-7013-45af-a840-ab1093634eb0.log

.sbtserver/master.log

.sbtserver/previous.log

project/.sbtserver

.sbtserver/connections/play-fork-run-7462cf24-d2d8-4350-a243-ad8a4fe596bf.log
