<md-card ng-show="view === 'mapa'">
    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button"
              ng-click="goBack()">
              <md-icon md-svg-icon="img/back.svg"></md-icon>
          </md-button>
            <h1 class="md-toolbar-tools">Mapa del recorrido</h1>
            <span ></span>
            <md-button ng-if="recorridoActual.id" class="md-raised"
                ng-click="showRetosDialog($event)">
                Retar
            </md-button>
            <md-button ng-if="(config.facebook || config.Twitter) && recorridoActual.id" class="md-raised" ng-disabled="{{recorridoActual.shared?true:false}}"
                ng-click="share(recorridoActual)">
                {{recorridoActual.shared?'Compartido':'Compartir'}}
            </md-button>
            <md-button ng-if="!recorridoActual.id" class="md-raised"
                ng-click="guardarRuta(recorridoActual)">
                Guardar
            </md-button>

        </div>
    </md-toolbar>
    <md-card-title>
        <md-card-title-text>
            <span ng-if="!recorridoActual.id"class="md-subhead">Inicie su recorrido o seleccione dos puntos del mapa para ver la mejor ruta</span>
            <span ng-if="recorridoActual.id" class="md-subhead">Recorrido de {{recorridoActual.distancia}} km hecho en {{recorridoActual.duracion}} minutos con clima <i class="{{recorridoActual.iconoClima}}"></i> "{{recorridoActual.clima}}"</span>
        </md-card-title-text>
    </md-card-title>
    <section class="md-padding"
        layout="column">
        <dir-mapa-indiv show="view === 'mapa'"
            ruta="recorridoActual.ubicaciones"
            duracion="recorridoActual.duracion"
            weather="recorridoActual.clima"
            weather-icon="recorridoActual.iconoClima"
            distancia="recorridoActual.distancia"
            flex>
        </dir-mapa>
    </section>
</md-card>

<md-card>
    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Recorridos individuales</h1>
        </div>
    </md-toolbar>
    <md-list flex>
        <md-list-item class="md-2-line"
             ng-repeat="recorrido in recorridos" ng-click="setRecorridoActual(recorrido)">
            <div class="md-list-item-text" >
                <h3>{{dateFormat(recorrido.fecha)}}</h3>
                <p>Recorrido de {{recorrido.distancia}} km hecho en {{recorrido.duracion}} minutos con clima <i class="{{recorrido.iconoClima}}"></i> "{{recorrido.clima}}"</p>
            </div>
        </md-list-item>
    </md-list>
</md-card>
