<md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            ng-click="goBack()">
            <md-icon md-svg-icon="img/back.svg"></md-icon>
        </md-button>
        <h2>
          <span>{{amigo.name}}</span>
        </h2>
        <span flex></span>
        <img ng-src="img/avatar1.png"
            class="md-avatar"
            alt="amigo.name" />
    </div>
</md-toolbar>



<md-list id="chat" class="md-dense"
    style="height: 350px; overflow: scroll;"
    flex>
    <md-list-item ng-repeat="mensaje in mensajes | orderBy:'fecha'"
        class="md-2-line">
        <div class="md-list-item-text"
            layout="column"
            layout-align="center {{mensaje.emisor==yo.id?'end':'start'}}">
            <p>{{mensaje.emisor==yo.id?yo.name:amigo.name}}:</p>
            <h3>{{mensaje.mensaje}}</h3>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>
<div layout="row"
    layout-align="center center">
    <md-input-container>
        <label>Mensaje</label>
        <input ng-model="nuevoMensaje"
            ng-keyup="keyUpListener($event, nuevoMensaje)">
    </md-input-container>
    <md-button class="md-secondary md-icon-button"
        ng-click="enviarMensaje(nuevoMensaje)">
        <md-icon md-svg-icon="img/send.svg"></md-icon>
    </md-button>
</div>
