<md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
        <h1 class="md-toolbar-tools">Recorridos grupales</h1>
        <span flex></span>
        <md-button class="md-raised">
          Agegar
        </md-button>
    </div>
</md-toolbar>
<md-list flex>
    <md-list-item class="md-2-line"
        ng-click="null">
        <div class="md-list-item-text">
            <h3>Choachí</h3>
            <p>Recorrido a choachí el sábado desde Bogotá</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line"
        ng-click="null">
        <div class="md-list-item-text">
            <h3>La Vega</h3>
            <p>Recorrido a la Vega el sábado desde Bogotá</p>
        </div>
    </md-list-item>
</md-list>
