<div layout="column"
    style="height: 500px;"
    ng-cloak>

    <section layout="row"
        flex>

        <md-sidenav class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Menú</h1>
            </md-toolbar>
            <md-list flex>
                <md-list-item class="md-2-line"
                    ng-click="setView('Grupales')">
                    <div class="md-list-item-text">
                        <h3>Recorridos grupales</h3>
                        <p>Planea recorridos grupales</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line"
                    ng-click="setView('Individuales')">
                    <div class="md-list-item-text">
                        <h3>Recorridos individuales</h3>
                        <p>Haz un seguimiento a tus recorridos</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <div flex>
            <dir-grupales ng-if="view === 'Grupales'"></dir-grupales>
            <dir-individuales ng-if="view === 'Individuales'"></dir-individuales>
        </div>

        <md-sidenav class="md-sidenav-left"
            md-component-id="right"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4">
            <md-list>
            <md-list-item class="md-2-line" ng-click="showPerfil()">
                <img ng-src="{{yo.foto}}"
                    class="md-avatar"/>
                <div class="md-list-item-text">
                    <h3>{{yo.name}}</h3>
                    <p>{{yo.email}}</p>
                </div>
                <md-button class="md-secondary md-icon-button"
                    ng-click="logout()">
                    <md-icon md-svg-icon="img/close.svg"></md-icon>
                </md-button>
            </md-list-item>
            </md-list>
            <dir-amigos ng-if="!amigoSelected"
                on-select="selectAmigo"></dir-amigos>

            <dir-chat ng-if="amigoSelected"
                amigo="amigoSelected"
                go-back="deseleccionarAmigo"></dir-chat>

        </md-sidenav>

    </section>

</div>
